.custom-nav-title {
  font-weight: bold;
  font-size: large;
  color: #f7b05b;
}

.custom-nav-item {
  font-weight: bold;
  font-size: medium;
  color: #f7b05b;
}

.custom-icon-format {
  color: #f7b05b;
}

.custom-icon-format:hover {
  color: #f38d12;
}

.custom-auth-button:hover > .custom-icon-format {
  color: #f38d12;
}
