// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$primary: #55c3a5;
$secondary: #47a297;
$light: #c0e4dd;
$dark: #7c94ac;

$theme-colors: (
  "tertiary": #295c7a,
);

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";
